/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Theme colors */
/*
#04BFBF // teal
#CAFCD8 // mint green
#F7E967 // banana yellow
#A9CF54 // chartreuse
#588F27 // vomit green
#FFFFFF // periwinkle
*/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFFFFF;
  font: 16px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #04BFBF; }
a:hover   { color: #026969; }
a:visited { color: #588F27; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
  color: #04BFBF;
  margin-bottom: 15px;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 2em;
}

.posts span {
  color: #004040;
  font-family: Monaco, "Courier New", monospace;
  font-size: 100%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.bold {
  font-weight: bold;
}

.footer {
  font-size: 100%;
  color: #026969;
  border-top: 4px solid #04BFBF;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a         { color: #04BFBF; }
.footer .contact a:hover   { color: #026969; }
.footer .contact a:visited { color: #588F27; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.header a.extra {
  color: #014545;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #026969;
}

.italicized {
  font-style: italic;
}

.meta {
  color: #026969;
}

.site {
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #014545;
}

.title a:hover {
  color: #026969;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Media Queries
/*
/*****************************************************************************/

V2

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) .site {
/*  Styles */
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 2em;
  line-height: 1.5em;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) .site {
/*  Styles */
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 2em;
  line-height: 1.5em;
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) .site {
/*  Styles */
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 2em;
  line-height: 1.5em;
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) .site {
/*  Styles */
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 2em;
  line-height: 1.5em;
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) .site {
/*  Styles */
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 2em;
  line-height: 1.5em;
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) .site {
/*  Styles */
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 2em;
  line-height: 1.5em;
}
/*********
iPad 3
**********/
@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) .site {
/*  Styles */
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 2em;
  line-height: 1.5em;
}

@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) .site {
/*  Styles */
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 2em;
  line-height: 1.5em;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) .site {
/*  Styles */
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 2em;
  line-height: 1.5em;
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) .site {
/*  Styles */
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 2em;
  line-height: 1.5em;
}

/* iPhone 4 ----------- */
@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) .site {
/*  Styles */
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 2em;
  line-height: 1.5em;
}

@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) .site {
/*  Styles */
  font-size: 115%;
  text-align: justify;
  max-width: 62em;
  margin: 2em;
  line-height: 1.5em;
}