/* Project description */
.project {

}

/* Project stack */
.stack li {
	list-style-type: none;
}

/* Project screenshot */
.screenshot img {
	outline: none;
    border-color: #04BFBF;
    box-shadow: 0 0 10px #04BFBF;
	max-width: 300px;
	border-radius: 10px;
}


/* Project testimonial */
.testimonial {

}